{% extends "layout.html" %}

{% block content %}

<form action = "" method = "post" enctype="multipart/form-data">

  <table border="1" cellpadding="15" align="center" cellspacing="5" name="projectTable">
      <tr>
          <td style="color:black" > Order ID</td>
          <td style="color:black" > Order Date</td>
          <td style="color:black" > Description</td>
          <td style="color:black" > Status</td>
          <td style="color:black" > Customer ID</td>
      </tr>
      {% for row in data %}
      <tr>
          {% for i in range(0,5) %}
              {%if i == 3 and 'Initial' in row[i]%}
                  <td > <select name="status">
                      <option value="Initial" selected>Initial</option>
                      <option value="Ongoing">Ongoing</option>
                      <option value="Complete">Complete</option>
                  </select></td>

              {%elif i == 3 and 'Ongoing' in row[i]%}
                  <td > <select name="status">
                      <option value="Initial">Initial</option>
                      <option value="Ongoing" selected>Ongoing</option>
                      <option value="Complete">Complete</option>
                  </select></td>

              {%elif i == 3 and 'Complete' in row[i]%}
                  <td > <select name="status">
                      <option value="Initial">Initial</option>
                      <option value="Ongoing">Ongoing</option>
                      <option value="Complete" selected>Complete</option>
                  </select></td>

              {%else%}
              <td style="color:black">{{ row[i] }}</td>

              {%endif%}
          {%endfor%}
      </tr>
      {%endfor%}
  </table>
  <br>
  <font size="5">
  <input style="width:150px;height:100px;" type="submit" name="updateButton" value="Update" align="center"/>
  </font>

</form>

<style>
  #parent {
     vertical-align: middle;
  }
</style>

</body></html>

{% endblock %}