body {
  margin:0;
  text-align:center;
  font-family: Impact, Charcoal, sans-serif;
}
header{
  color:"Red";
  text-align:center;
}

.topnav {
  background-color: #F16429;

  background: -moz-linear-gradient(top, #ffffff 0%, #f16429 25%, #f16429 75%, #ffffff 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%,#f16429 25%,#f16429 75%,#ffffff 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%,#f16429 25%,#f16429 75%,#ffffff 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

  overflow: hidden;
}
.topnav a {
  color:#000;
  font-family: Impact, Charcoal, sans-serif;
  float: left;
  display: block;
  color: #605f64;
  text-align: center;  
  padding: 14px 98px;
  text-decoration: none;
  font-size: 20px;
  margin-left: 105;
  text-shadow: -0.5px 0 white, 0 0.5px #f9f9f9, 0.5px 0 white, 0 -0.5px white;
}

@media screen and (max-width: 1270px) {
  .topnav a {
    padding: 14px 70px;
  }
}

@media screen and (max-width: 1000px) {
  .topnav a {
    padding: 14px 45px;
  }
}

@media screen and (max-width: 750px) {
  .topnav a {
    padding: 14px 30px;
  }
}

@media screen and (max-width: 500px) {
  .topnav a {
    padding: 14px 14px;
  }
}

/* Change the color of links on hover */
.topnav a:hover {

  background: -moz-linear-gradient(top, #605f64 0%, #f16429 30%, #f16429 70%, #605f64 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #605f64 0%,#f16429 30%,#f16429 70%,#605f64 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #605f64 0%,#f16429 30%,#f16429 70%,#605f64 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#605f64', endColorstr='#605f64',GradientType=0 ); /* IE6-9 */

  color: black;
}
.topnav.icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

img {
  display: block;
  margin: auto;
}

.homeImgDiv {
  border-radius: 15px;
  overflow: hidden;
  width: 750px;
  height: 350px;
  margin: auto;
}

.login_button {
  color: #F16429;
  position:absolute;
  top:0;
  right:0;
  margin: 15px;
  text-decoration: none;
}
