{% extends "layout.html" %}

{% block content %}

<p>Contact</a>
</p>

<form action="/sendemail/" method="POST">
    Name:<br>
    <input name="firstname" placeholder="Your Name" value="{{request.form.firstname}}" type="text">
    <br>
    Email or Phone Number:<br>
    <input name="email" placeholder=" Email/Phone Number" value="" type="text">
    <br>
    Message:<br>
    <textarea name="Message" placeholder="Description of your desired Project" value="" rows="11" cols="50" wrap="soft" maxlength="500" style="overflow:hidden; resize:none"></textarea>
    <br><br>
    <input value="Submit" type="submit">
</form>

</body></html>

{% endblock %}
