{% extends "layout.html" %}

{% block content %}

<p>Contact</a>
</p>

<form action="man.php">
    Name:<br>
    <input name="firstname" placeholder="Your Name" type="text">
    <br>
    Email:<br>
    <input name="lastname" placeholder="Your Email" type="text">
    <br>
    Message:<br>
    <textarea name="Message" placeholder="Description of your desired Project" rows="11" cols="50" wrap="soft" maxlength="500" style="overflow:hidden; resize:none"></textarea>
    <br><br>
    <input value="Submit" type="submit">
</form>

</body></html>

{% endblock %}
