{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<div class="homeImgDiv">
  <img src="{{url_for('static', filename='home.jpg')}}" style="width:750px;height:350px;" />
</div style="border-radius:50%;
    overflow:hidden;">

<!-- <p> For Us to contact you please submit your info below and be try to be
 very detailed about your desired project. (measurement, color, style)
and</p>


<form action="man.php">
    Name:<br>
    <input name="firstname" placeholder="Name" type="text">
    <br>
    Email:<br>
    <input name="lastname" placeholder="Email" type="text">
    <br>
    Message:<br>
    <input name="Message" placeholder="What is your desired Project" type="text">
    <br><br>
    <input value="Submit" type="submit">
</form> -->

</body></html>

{% endblock %}
