<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
  <a class="login_button" href="/login">Login</a>
  <a href="/">
    <img class="main_img" src="{{url_for('static', filename='logo.jpg')}}" style="width:452px;height:199px;" />
  </a>
  <div class="topnav" id="myTopnav">
      <a href="/">Home</a>
      <a href="/services">Services</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
      <a href="/review">Review</a>
  </div>
  <br>
  <!--<img src="index_files/url_forstatic%2520filename home.jpg%27%29%257D%257D" style="width:750px;height:350px;">-->


  <script>
  function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
          x.className += " responsive";
      } else {
          x.className = "topnav";
      }
  }
  </script>
</body>
<div class="container-fluid" style="min-height:100% width:80%">
{% with messages = get_flashed_messages()%}
	<!--If messages pending then print each message to screen-->
	{%if messages %}
		{%for message in messages %}
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			{{message}}
			    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				        <span aria-hidden="true">&times;</span>
					  </button>
		</div>
		{% endfor %}
	{%endif%}

{% endwith %}
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</html>
{% block content %}
{% endblock %}
