{% extends "layout.html" %}

{% block content %}

<body>
        # Link in the nessesary css sheet from bootstrap for Nav bar
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong> -->
		  
	<div class="container">
		<br>
		<h4> Please Login:</h4>
		<br>
		<!--Post username and password to python code -->
		<form action ="" class= "form-inline"  method ="post">	
			<input type="text" class="form-control" placeholder = "Username" name="username"
		       		value = "{{request.form.username}}">
                	<input type="password" class="form-control" placeholder = "Password" name="password" 
				value="{{request.form.password}}">
			<!--The login button-->	
		<input class="btn btn-default" type="submit" value="Login">
		</form>
		<i style="color:red">{{error}}</i>
	</div>
</body>	
{% endblock %}
